<header>
    <h1>Timesheet Generator</h1>
    <p>&copy; Amarender Reddy Tangella</p>
</header>
<div>
    <p class="welcome">Welcome!!!</p>
    <p>Timesheet generator is a web-app that generates your monthly Timesheet for week days with respective hours and
        project codes entered. This helps you save your time and focus more on what's important. You can export the data
        to
        an excel sheet and download it. Hope it might help you save some of your time!!!</p>
    <h2>Disclaimer:</h2>
    <p>This app version currently supports only with <strong>7.5</strong> and <strong>8</strong> hours per day. Please
        enter
        only full day hours. It doesn't support half days yet. </p>
    <p>*Please note that this version generates report with all weekdays including holidays. It doesn't remove any
        provincial or
        federal holidays.</p>
</div>