header {
  background-color: #0a437d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 50px;
  padding: 10px;
  z-index: 9999;
}

h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  padding: 10px 0;

  p {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
  }

  h2 {
    color: #902592;
    margin: 0;
  }

  .welcome {
    font-size: 22px;
    font-weight: 500;
  }
}
